headerbar,
.main,
headerbar * {
    background-color: #26282b;
    background-image: none;
    color: #cccccc;
    border: 0px;
}
scrolledwindow,
paned,
viewport {
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
    background-color: #000000;
}
trough {
    border: none;
    box-shadow: none;
    background: transparent;
    padding: 0;
}
viewport.view {
    padding: 0;
    margin: 0px;
    border: 0;
}
box {
    margin: 0px;
    padding: 0px;
}
paned > separator {
    background-image: none;
    background-color: #26282b;
    min-width: 8px;
    border: none;
}

.parameter_paned > separator {
    background-color: #26282b;
}

.left_panel,
tabs,
.left_panel * {
    background-color: #000000;
    background-image: none;
    color: #cccccc;
    border: none;
    margin: 0px;
    padding: 0px;
    outline: none;
}
tab {
    color: #aaaaaa;
}
tab:hover {
    background-color: #111111;
    color: #cccccc;
}
notebook {
    border: none;
}

notebook > header {
    border: none;
    box-shadow: none;
    background: transparent;
    padding: 0;
}

.left_panel {
    padding: 15px;
}
entry {
    background-color: #26282b;
    color: #cccccc;
    border-bottom: 1px solid #666666;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    outline: none;
    caret-color: #ffffff;
}
textview {
    background-color: #26282b;
    color: #ffffff;
    border: 0px solid #000000;
    border-radius: 0px;
    outline: none;
    padding: 15px;
    caret-color: #ffffff;
}

.right_panel textview {
    background-color: #000000;
}

.left_panel expander {
}

entry selection,
textview selection {
    background-color: #3c78d0;
    color: #666666;
    caret-color: #33ff33;
}
scrollbar {
    background-color: #26282b;
}
.file-list {
    font-size: 10px;
    color: #888888;
}
.important_btn {
    background-color: #000000;
    background-image: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid springgreen;
    border-radius: 0px;
    color: springgreen;
}
.important_btn:hover {
    background-color: #0f1114;
    border: none;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid green;
    color: green;
}

.important_btn label {
    background-color: transparent;
}
.meta-box {
    max-height: 300px;
}

.icon_btn {
    background-color: rgb(24, 26, 27);
    background-image: none;
    color: #cccccc;
    border: 0px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    text-align: center;
}
.icon_btn:hover {
    background-color: rgb(8, 10, 13);
}

.editable_json_tree_dark {
    padding: 15px;
    background-image: none;
    background: black;
    color: white;
}
