headerbar,
.main,
.left_panel,
.left_panel * {
    background-color: #26282b;
    background-image: none;
    color: #cccccc;
    border: 0px solid #666666;
}
headerbar button {
    border: 0px !important;
}
entry {
    background-color: #26282b;
    color: #cccccc;
    border-bottom: 1px solid #666666;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    outline: none;
}
textview {
    background-color: #26282b;
    color: #cccccc;
    border: 1px solid #666666;
    border-radius: 0px;
    outline: none;
    padding: 15px;
}
entry selection,
textview selection {
    background-color: #3c78d0;
    color: #ffffff;
}
button {
    background-color: #26282b;
    border-radius: 5px;
    border: 1px solid #666666;
}
button:hover {
    border: 1px solid #999999;
}
scrollbar {
    background-color: #26282b;
}
.file-list {
    font-size: 10px;
    color: #888888;
}
.important_btn {
    background-color: rgba(255, 0, 0, 0.55);
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
}
.important_btn:hover {
    background-color: rgba(255, 0, 0, 0.6);
    border: none;
}
.important_btn label {
    background-color: transparent;
    color: #cccccc;
}
.meta-box {
    height: 300px;
}
